$backgroundColor: #40d2e0;
$radius: 40%;

form {
  display: inline-block;
  margin: 1000px;
  width: 200px;

  label {
    background-color: $backgroundColor;
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor:crosshair;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background-color: $backgroundColor;

        &:hover, &.active {
          background: #fff;
        }
      }
    }
  }
}