$backgroundColor: #7149e0;

html, body {
  height: 100%;
  margin: auto;
  padding: 0;
}

body {
  background: $backgroundColor;
  height: 100%;
  font-size:35px;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  footer {
    background: lighten($backgroundColor, 25);
    border-top: 10px dotted #eee;
    padding: 1em 10em;
    margin: 0;
  }

  header {
    background: lighten($backgroundColor, 15);
    border-bottom: 10px dotted #eee;
    color: #eee;
    padding: 5em;
    margin: 0;
    text-align: center;
  }
}